<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535217593599-h7t2tvb36nd2kst1ed2fl4nukiflr5i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535217593599-h7t2tvb36nd2kst1ed2fl4nukiflr5i3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ENEKaamATlvqzHb4QSqff_5543Xs2MU</string>
	<key>GCM_SENDER_ID</key>
	<string>535217593599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPolls</string>
	<key>PROJECT_ID</key>
	<string>polls-b3204</string>
	<key>STORAGE_BUCKET</key>
	<string>polls-b3204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535217593599:ios:ae1aa0fd8a3dca533780ca</string>
</dict>
</plist>